{% if page.image %}
  {% assign header_banner = page.image | append: "?w=800&fit=crop&crop=focalpoint&auto=format,compress" %}
  {% assign header_banner_alt = page.description | default: page.title %}
{% else %}
  {% assign header_banner = "/banner.jpg?w=800&fit=crop&crop=focalpoint&auto=format,compress" %}
  {% assign header_banner_alt = "Alessandro con il suo golden retriever a una gara di rally obedience" %}
{% endif %}
{% assign header_avatar = "/avatar-profile.jpg?w=224&h=224&fit=crop&auto=format,compress" %}

<div class="profile-banner">
  <img class="profile-banner-img" src="{{ site.media_url }}{{ header_banner }}" alt="{{ header_banner_alt }}" />
  <div class="profile-banner-inner">
    <div class="profile-avatar">
      <img src="{{ site.media_url }}{{ header_avatar }}" alt="Alessandro Lorenzi" />
    </div>
  </div>
</div>
