<!DOCTYPE html>
<html lang="{%if page.lang %}{{page.lang}}{%else%}it{%endif%}">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Alessandro Lorenzi Homepage" />

  <title>
    {% if page.title %} {{ page.title }} | {% endif %}Alessandro Lorenzi
  </title>
  <link href="/media/site-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="head">
    <a href="/">Alessandro Lorenzi</a>
  </div>
  <main class="mainbody">
    <div id="content">{{ content }}</div>
  </main>
</body>

</html>