<!DOCTYPE html>

<html lang="{%if page.lang %}{{page.lang}}{%else%}it{%endif%}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}A post about: {{ page.title }}{% endif %}" />
  <title>
    {% if page.title %} {{ page.title }} | {% endif %}Alessandro Lorenzi
  </title>
  <link href="/media/site-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/media/dracula.css" type="text/css" rel="stylesheet" media="screen" />

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}A post about: {{ page.title }}{% endif %}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:image" content="{% if page.image %}{{ site.media_url }}{{ page.image }}{% else %}{{ site.media_url }}/avatar.png{% endif %}" />
  <meta name="fediverse:creator" content="@alorenzi@mastodon.uno">

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}A post about: {{ page.title }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.image %}{{ site.media_url }}{{ page.image }}{% else %}{{ site.media_url }}/avatar.png{% endif %}" />
  
  {% if page.gpx %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
  {% endif %}

</head>

<body>
  {% if page.gpx %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>
  {% endif %}

  {% include profile-header.html %}
  <div class="mainbody">
    {% include profile-info.html %}
    <h1>{{page.title}}</h1>

    {% if  page.description %}
    <blockquote><p>{{ page.description }}</p></blockquote>
    {% endif %}

    {% toc %}

    {% if page.gpx %}
    <div id="map" style="width: 100%; height: 30em"></div>
    <script>
      var map = L.map('map');
      L.tileLayer('https://tile.thunderforest.com/outdoors/{z}/{x}/{y}.png?apikey=7c93641105ca407bb46b56fae930f8fe', {}).addTo(map);

      var gpx = '/media/geo/2023-09-03_09_47_03.901_2023-09-03T09_47+02.gpx';
      new L.GPX(gpx, {
        async: true,
        marker_options: {
          startIconUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-icon-start.png',
          endIconUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-icon-end.png',
          shadowUrl: 'https://mpetazzoni.github.io/leaflet-gpx/pin-shadow.png'
        }
      }).on('loaded', function (e) {
        map.fitBounds(e.target.getBounds());
      }).addTo(map);
    </script>
    {% endif %}

    <div class="postcontent">{{content}}</div>

    {% if page.gallery %}
    <h2>Gallery</h2>
    <div class="gallery">
      {% for image in page.gallery %}
      
      <a data-fslightbox href="{{image}}"><img src="{{image}}" style="width: 200px; height: 200px; object-fit: cover;" /></a>
      {% endfor %}
    </div>
    {% endif %}

    {% if page.author and page.date %}
    <div class="postedby">
      Posted by {{ page.author }} on {{ page.date | date_to_string }}
    </div>
    {% else if page.author %}
    <div class="postedby">
      Posted by {{ page.author }}
    </div>
    {% endif %}
  </div>

  <script 
    src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.0.9/index.min.js" 
    integrity="sha512-03Ucfdj4I8Afv+9P/c9zkF4sBBGlf68zzr/MV+ClrqVCBXWAsTEjIoGCMqxhUxv1DGivK7Bm1IQd8iC4v7X2bw=="
    crossorigin="anonymous" 
    referrerpolicy="no-referrer"
  ></script>
</body>

</html>
